<html>
<head>
<title>API</title>
</head>
<body>
<h1>RESTFUL API ENDPOINTS</h1>
<div>
<h3> ENDPOINT 1: POST /MEETUPS/ - CREATE A MEETUP RECORD </h4>
<p> 
    <a href="https://questioner-web-app.herokuapp.com/api/v1/meetups/"> Link One </a>
</p>
<br>
<h3> ENDPOINT 2: GET /MEETUPS/ - FETCH ALL MEETUP RECORDS </h4>
<p> 
    <a href="https://questioner-web-app.herokuapp.com/api/v1/meetups/"> Link Two </a> 
</p>
<br>
<h3> ENDPOINT 3: GET /MEETUPS/MEETUP-ID - FETCH A SPECIFIC MEETUP RECORD </h4>
<p> 
    <a href="https://questioner-web-app.herokuapp.com/api/v1/meetups/"> Link Three </a>
</p>
</div>
</body>
</html>