<html>
<head>
<title>API</title>
<style>
body { 
        color: #161616;;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 75px; }
h2 { background: skyblue; padding: 3px; }
</style>
</head>
<body>
<h1>QUESTIONER API ENDPOINT ROUTES</h1>
<h2> 1. USER ROUTES </h2>
<hr>
<h3> 1.1. CREATING A NEW USER WITH POST METHOD </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/users/
</p>
<hr>
<h3> 1.2. RETRIEVING ALL USERS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/users/
</p>
<hr>
<h3> 1.3. RETRIEVING A SPECIFIC USER WITH GET METHOD AND USER ID PASSED AS AN ARGUMENT </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/users/(id: put user id here)
</p>
<hr>
<h3> 1.4. REGISTERING A USER </h3>
<p> 
https://questioner-web-app.herokuapp.com/api/v1/users/auth/signup
</p>
<hr>
<h3> 1.5. LOGGING IN A USER </h3>
<p> 
https://questioner-web-app.herokuapp.com/api/v1/users/auth/login
</p>
<hr>
<h2> 2. MEETUP ROUTES </h2>
<hr>
<h3> 1.1. CREATING A NEW MEETUP WITH POST METHOD </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/meetups/
</p>
<hr>
<h3> 1.2. RETRIEVING ALL MEETUPS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/meetups/
</p>
<hr>
<h3> 1.3. RETRIEVING A SPECIFIC MEETUP WITH GET METHOD AND USER ID PASSED AS AN ARGUMENT </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/meetups/(id: put meetup id here)
</p>
<hr>
<h3> 1.4. RESPONDING TO A SPECIFIC MEETUP WITH POST METHOD / MEETUP RSVP </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/meetups/(id: put meetup id here)/rsvps/
</p>
<hr>
<h3> 1.5. RETRIEVING UPCOMING MEETUPS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app.herokuapp.com/api/v1/meetups/upcoming/
</p>
<hr>
<h3> 1.6. DELETING A SPECIFIC MEETUP </h3>
<p> 
https://questioner-web-app.herokuapp.com/api/v1/meetups/1
</p>
<hr>
</body>
<br>
<footer>
        <h3> Copyright &copy; 2019 Placide IRANDORA </h3>
</footer>
</html>