<html>
<head>
<title>QUESTIONER</title>
<style>
body { 
        color: #161616;;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 75px; }
h2 { background: skyblue; padding: 3px; }
</style>
</head>
<body>
<h1>QUESTIONER API ENDPOINT ROUTES</h1>
<br>
<h2> 1. USER ROUTES </h2>
<hr>
<h3> 1.1. REGISTER A NEW USER WITH POST METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/users
</p>
<hr>
<h3> 1.2. RETRIEVE ALL USERS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/users
</p>
<hr>
<h3> 1.3. RETRIEVE A SPECIFIC USER WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/users/id
</p>
<hr>
<h2> 2. MEETUP ROUTES </h2>
<hr>
<h3> 2.1. CREATE A NEW MEETUP WITH POST METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups
</p>
<hr>
<h3> 2.2. RETRIEVE ALL MEETUPS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups
</p>
<hr>
<h3> 2.3. RETRIEVE A SPECIFIC MEETUP WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups/id
</p>
<hr>
<h3> 2.4. RESPOND TO A SPECIFIC MEETUP WITH POST METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups/id/rsvps
</p>
<hr>
<h3> 2.5. RETRIEVE UPCOMING MEETUPS WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups/upcoming
</p>
<hr>
<h3> 2.6. POST A QUESTION IN A SPECIFIC MEETUP WITH POST METHOD </h3>
<p> 
https://questioner-web-app-ch2.herokuapp.com/api/v1/meetups/id/questions
</p>
<hr>
<h2> 3. QUESTION ROUTES </h2>
<hr>
<h3> 3.1. UPVOTE A SPECIFIC QUESTION WITH PATCH METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/questions/id/upvote
</p>
<hr>
<h3> 3.2. DOWNVOTE A SPECIFIC QUESTION WITH PATCH METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/questions/id/downvote
</p>
<hr>
<h3> 3.3. RETRIEVE QUESTIONS FOR A SPECIFIC MEETUP WITH GET METHOD </h3>
<p> 
    https://questioner-web-app-ch2.herokuapp.com/api/v1/questions/id
</p>
<hr>
</body>
<br>
<footer>
        <h3> Copyright &copy; 2019 Placide IRANDORA </h3>
</footer>
</html>