* {
	margin: 0; padding: 0;
  }

body {
		background-color: color: white;
    color: white;
		font-family: 'Montserrat', sans-serif;
		background-image: url("../IMG/meetup.jpg");
 		background-repeat: no-repeat;
 		background-size: cover;
 
	 }


h1  { text-align: center; letter-spacing: 1em; color: lightgreen; font-weight: 1000; }

h2  { text-align: center; letter-spacing: 0.8em; color: lightgreen; font-weight: 1000; }

h4 { text-align: center; letter-spacing: 0.1em;}

p { letter-spacing: 2px; text-align: center; }

.container {
			  background-color: teal;
			  padding: 60px;
			  max-width: 600px;
			  margin: 40px auto;
			  border-radius: 5px;
			  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
		   }

.container-admin-dashboard {

							background-color: teal;
							padding: 60px;
							max-width: 1000px;
							margin: 40px auto;
							border-radius: 5px;
							box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

						   }

label { font-size: 20px; letter-spacing: 2px; }

form { text-align: center; }

input, textarea {
				  font-size: 20px;
				  display: block;
				  width: 96%;
				  padding: 10px 10px;
				  background: none;
				  background-image: none;
				  border: 2px solid #c1bdba;
				  color: white;
				  border-radius: 0;
				  transition: border-color .25s ease, box-shadow .25s ease;
				  text-align: center;
				  letter-spacing: 2px;
				}

input:focus, textarea:focus {
							  outline: 0;
							  border-color: lightgreen;
							}

button {
		  border: 0;
		  outline: none;
		  border-radius: 0;
		  padding: 15px 0;
		  font-size: 24px;
		  font-weight: 600;
		  background: #1ab188;
		  color: #ffffff;
		  transition: all 0.5s ease;
		  -webkit-appearance: none;
          width: 100%;
          letter-spacing: 2px;
	   }

.btn-meetup {
		  border: 0;
		  outline: none;
		  border-radius: 0;
		  padding: 8px 0;
		  font-size: 18px;
		  font-weight: 600;
		  background: #641313;
		  color: #ffffff;
		  transition: all 0.5s ease;
		  -webkit-appearance: none;
          width: 18%;
		  letter-spacing: 2px;
		  margin-left: 395px;
	   }

.btn-meetup:hover { background: #be2b2b; }

.btn-meetup-pstv {

					border: 0;
					outline: none;
					border-radius: 0;
					padding: 8px 0;
					font-size: 18px;
					font-weight: 600;
					background: #70a2ee;
					color: #ffffff;
					transition: all 0.5s ease;
					-webkit-appearance: none;
					width: 30%;
					letter-spacing: 2px;
					margin-left: 345px;
				 }

.btn-meetup-pstv:hover { background: #3481f5; }

.btn-102 { width: 102%; }

button:hover {  background-color: #179b77; cursor: pointer; }

a { text-decoration: none; color: white; }

.float-left { float: left; }

.float-right { float: right; }

/* TABLET RESPONSIVE */

@media (max-width: 767px) {

							body { font-size: 14px; }

							h1 { letter-spacing: 0.8em; color: lightgreen; font-weight: 800; }

							.container { padding: 40px; max-width: 500px; }

							label { font-size: 16px; letter-spacing: 2px;}

							input, textarea { font-size: 16px; }

							button { font-size: 22px; font-weight: 600; }

							.btn-meetup {

								padding: 13px;
								font-size: 12px;
								width: 22%;
								margin-left: 185px;
							 }

						  }

@media (max-width: 767px) {

							body { font-size: 14px; }

							h1 { letter-spacing: 0.8em; color: lightgreen; font-weight: 800; }

							.container { padding: 40px; max-width: 500px; }

							.container-admin-dashboard { padding: 40px; max-width: 500px; }

							label { font-size: 16px; letter-spacing: 2px;}

							input, textarea { font-size: 16px; }

							button { font-size: 22px; font-weight: 600; }

							.btn-meetup {

								padding: 13px;
								font-size: 12px;
								width: 22%;
								margin-left: 185px;
							 }

						  }


.meetup-container {

					border: solid;

					padding: 12px;

					background-color: white;

					color: #212529;

				  }


.txt-question { color: #212529; }
